.circle {
  position: relative;
  background: rgb(105, 255, 223);
  background: linear-gradient(
    90deg,
    rgba(105, 255, 223, 1) 0%,
    rgba(214, 168, 242, 1) 50%,
    rgba(255, 167, 172, 1) 100%
  );
  border-radius: 50%;
  width: 250px;
  height: 250px;
  transition: 1s;
  margin: auto;
}

.hideCircle {
  opacity: 0;
}

.hideCircle:hover {
  opacity: 1;
}

.ShowCircle {
  opacity: 1;
}

.time {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 25%);
  font-size: 65px;
  font-weight: 700;
  opacity: 1;
  transition: 2s;
  cursor: pointer;
}
